# Basic Data Structures

| Type Name | Example                   |Description                            |
|-----------|---------------------------|---------------------------------------|
| ``list``  | ``[1, 2, 3]``             | Ordered collection                    |
| ``tuple`` | ``(1, 2, 3)``             | Immutable ordered collection          |
| ``dict``  | ``{'a':1, 'b':2, 'c':3}`` | Unordered (key,value) mapping         |
| ``set``   | ``{1, 2, 3}``             | Unordered collection of unique values |

## Lists

In [1]:
L = [2, 3, 5, 7]

In [2]:
# Length of a list
len(L)

4

In [3]:
# Append a value to the end
L.append(11)
L

[2, 3, 5, 7, 11]

In [4]:
# Addition concatenates lists
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [5]:
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [7]:
L = [1, 'two', 3.14, [0, 3, 5]]

type(L)

list

### List indexing and slicing

In [8]:
L = [2, 3, 5, 7, 11]

L[0]

2

In [9]:
L[-1]

11

## Tuples

In [10]:
t = (1, 2, 3)

In [11]:
t = 1, 2, 3
print(t)

(1, 2, 3)

In [12]:
len(t)

3

In [13]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [14]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

### Usage:<br>
**functions that have multiple return values.**<br>
**To store record values.**

In [15]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [16]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

## Dictionaries

In [17]:
numbers = {'one':1, 'two':2, 'three':3}

In [19]:
numbers.keys()

dict_keys(['one', 'two', 'three'])

In [20]:
numbers.values()

dict_values([1, 2, 3])

In [21]:
numbers.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

## Sets

In [23]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [25]:
# union: items appearing in either
primes | odds      # with an operator

primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}